head
    title DropTrainer
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="description" content="Drag and drop your audio for training on a stationary bicycle or treadmill")
    meta(name="keywords" content="droptrainer drag and drop javascript bicycle training running treadmill")
    //[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]
    script(src="/js/jquery.min.js")
    script(src="/js/jquery.poptrox.min.js")
    script(src="/js/jquery.scrolly.min.js")
    script(src="/js/jquery.scrollgress.min.js")
    script(src="/js/skel.min.js")
    script(src="/js/vendor-init.js")
    noscript
        link(rel="stylesheet" href="/css/skel.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/style-wide.css")
        link(rel="stylesheet" href="/css/style-normal.css")
    //[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css"/><![endif]
    